<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<pluginGroups>
	</pluginGroups>

	<proxies>
	</proxies>

	<servers>
		<server>
			<id>releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>thirdparty</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>dxlte-milestones</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>dxlte-snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>default</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>public</id>
					<name>Public</name>
					<url>http://dxmvnhost:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>dxlte-milestones</id>
					<name>Telcom LTE COSS Milestones</name>
					<url>http://dxmvnhost:8081/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>dxlte-snapshots</id>
					<name>Telcom LTE COSS Snapshots</name>
					<url>http://dxmvnhost:8081/nexus/content/repositories/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>public</id>
					<url>http://dxmvnhost:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>dxlte-milestones</id>
					<name>Telcom LTE COSS Milestones</name>
					<url>http://dxmvnhost:8081/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>dxlte-snapshots</id>
					<name>Telcom LTE COSS Snapshots</name>
					<url>http://dxmvnhost:8081/nexus/content/repositories/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>ci</id>
			<repositories>
				<repository>
					<id>public</id>
					<name>Public</name>
					<url>http://192.168.8.72:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>dxlte-milestones</id>
					<name>Telcom LTE COSS Milestones</name>
					<url>http://192.168.8.72:8081/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>dxlte-snapshots</id>
					<name>Telcom LTE COSS Snapshots</name>
					<url>http://192.168.8.72:8081/nexus/content/repositories/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>public</id>
					<url>http://192.168.8.72:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>dxlte-milestones</id>
					<name>Telcom LTE COSS Milestones</name>
					<url>http://192.168.8.72:8081/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>dxlte-snapshots</id>
					<name>Telcom LTE COSS Snapshots</name>
					<url>http://192.168.8.72:8081/nexus/content/repositories/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

</settings>
